
body{
    padding-top: 65px
}

.navbar-default
{
    background-color: royalblue;
}

.navbar-pages{
    background-color: gainsboro;
}

.glyphicon-pages-user{
    color:royalblue !important;
}

.glyphicon-pages{
    color:black !important;
}

.page-navbar-default{
    background-color:gainsboro;
}

.navbar-default .navbar-brand {
    color: white;
    float: left;
}

element.style {
    margin-right: 15px;
}

.page-list_label_style {

    color: dodgerblue;
}

.left{
    margin-left:10px;
}

.glyphicon-ok{

    color:white;


}

.glyphicon-plus{
    color:white;


}

.glyphicon-user{

    color:white;

}
.glyphicon{
    text-decoration: none;
    text-underline: none;


}

.glyphicon-chevron-left{
    color:white;

}

.align{
    float:none;
}

.pull-left{
    float:none;
}


.pull-right{
    float:none;
}

.inherit {
    color: white !important;
    text-decoration:none;
    text-underline-mode: false !important;
}

.v-divider{
    margin-left:50px;
    margin-right:50px;
    width:1px;
    height:100%;
    border-left:1px solid gray;
}


.relative-position {
    position: relative;
}
.absolute-position {
    position: absolute;
}
.list-element-menu {
    top: 0px;
    right: 0px;
    z-index: 10;
    background-color: white;
}
.zero-right-padding {
    padding-right: 0px;
}

.hidden-phone {
    display: block;
}

.glyphicon-play-widget{
    color: dimgray;
}