

<nav class="navbar navbar-default navbar-fixed-top">
    <div >
        <div class="navbar-header align">
            <p class="navbar-text pull-left" style="margin-left: 5px">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="glyphicon glyphicon-chevron-left inherit" style="text-decoration: none;"></a>
            </p>
            <a class="navbar-brand inherit">Choose Widgets</a>

            <p class="navbar-text pull-right" style="margin-right: 10px">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="glyphicon glyphicon-ok inherit" style="text-decoration: none;"></a>
            </p>
        </div>
    </div>
</nav>

    <div class="container">

        <form>

            <div class="container-fluid">

                        <p><a ng-click="model.createWidget('header')">Header</a></p>
                        <p><a ng-click="model.createWidget('html')">Html</a></p>
                        <p><a ng-click="model.createWidget('youtube')">Youtube</a></p>
                        <p><a ng-click="model.createWidget('image')">Image</a></p>

            </div>

        </form>

    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom navbar-pages">
        <p class="navbar-text pull-right" style="margin-right: 15px">
            <a href="#/user/{{model.userId}}" class="glyphicon glyphicon-user page-list_label_style   glyphicon-pages-user" style="text-decoration: none;"></a>
        </p>

    </nav>
