





<nav class="navbar navbar-default navbar-fixed-top">
    <div >
        <div class="navbar-header align">
            <p class="navbar-text pull-left" style="margin-left: 5px">
                <a href="#/user/{{model.userId}}" class="glyphicon glyphicon-chevron-left inherit" style="text-decoration: none;"></a>
            </p>
            <a class="navbar-brand inherit">Widgets</a>

            <p class="navbar-text pull-right" style="margin-right: 10px">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="glyphicon glyphicon-plus inherit" style="text-decoration: none;"></a>
            </p>
        </div>
    </div>
</nav>



<div class="container">

        <div ng-model="model.widget.widgetType" ng-switch="widget.widgetType"
             ng-repeat="widget in model.widgets">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <div ng-switch="widget.size" ng-switch-when="HEADER">
                <h1 ng-switch-when="1">{{widget.text}}</h1>
                <h2 ng-switch-when="2">{{widget.text}}</h2>
                <h3 ng-switch-when="3">{{widget.text}}</h3>
                <h4 ng-switch-when="4">{{widget.text}}</h4>
                <h5 ng-switch-when="5">{{widget.text}}</h5>
                <h6 ng-switch-when="6">{{widget.text}}</h6>
            </div>
            <div ng-switch-when="YOUTUBE">
                <iframe width="560" height="315"
                        ng-src="{{model.checkSafeYouTubeUrl(widget.url)}}"
                        frameborder="0" allowfullscreen></iframe>

            </div>
            <div ng-switch-when="IMAGE">
                image
            </div>
            <div ng-switch-when="HTML" ng-bind-html="model.checkSafeHtml(widget.text)">
            </div>
        </div>

    </div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-text" style="width: 100%; text-align: center;">
            <div class="col-xs-2">
                <a href="#">
                    <span class="glyphicon glyphicon-heart"></span>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="#">
                    <span class="glyphicon glyphicon-star"></span>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="#">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="#">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="#">
                    <span class="glyphicon glyphicon-share-alt"></span>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="#" class="pull-right">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>


<nav class="navbar navbar-default navbar-fixed-bottom navbar-pages">
    <p class="navbar-text pull-right" style="margin-right: 15px">
        <a href="#/user/{{model.userId}}" class="glyphicon glyphicon-user page-list_label_style   glyphicon-pages-user" style="text-decoration: none;"></a>
    </p>
    <p class="navbar-text pull-left" style="margin-left: 5px">
        <a href="/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page}}/widget" class="glyphicon glyphicon-play page-list_label_style glyphicon-pages" style="text-decoration: none;"></a>
    </p>
</nav>



