
    <nav class="navbar navbar-default navbar-fixed-top navbar-pages">
        <div>
            <div class="navbar-header align">
                <p class="navbar-text pull-left" style="margin-left: 5px">
                    <a href="../views/page/page-list.view.client.html" class="glyphicon glyphicon-chevron-left  glyphicon-pages" style="text-decoration: none;"></a>
                </p>
                <a class="navbar-brand inherit" style="color: dimgray" style="text-decoration: none;">Choose Widgets</a>


            </div>
        </div>
    </nav>

    <div class="container">

        <form>
            <div class="form-group">
                <a href="widget-heading.view.client.html" class="page-list_label_style " style="text-decoration: none;">Header</a>

            </div>
            <div class="form-group">
                <label class="page-list_label_style ">Label</label>


            </div>
            <div class="form-group">
                <label class="page-list_label_style">HTML</label>


            </div>
            <div class="form-group">
                <label class="page-list_label_style">Text Input</label>


            </div>
            <div class="form-group">
                <label class="page-list_label_style">Link</label>


            </div>

            <div class="form-group">
                <label class="page-list_label_style">Button</label>


            </div>

            <div class="form-group">
                <a href="widget-image.view.client.html" class="page-list_label_style " style="text-decoration: none;">Image</a>


            </div>

            <div class="form-group">
                <a href="widget-youtube.view.client.html" class="page-list_label_style" style="text-decoration: none;">You Tube</a>


            </div>

            <div class="form-group">
                <label class="page-list_label_style">Data Table</label>


            </div>

            <div class="form-group">
                <label class="page-list_label_style">Repeater</label>


            </div>

        </form>


    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom navbar-pages">
        <p class="navbar-text pull-right" style="margin-right: 15px">
            <a href="../views/user/profile.view.client.html" class="glyphicon glyphicon-user page-list_label_style   glyphicon-pages-user" style="text-decoration: none;"></a>
        </p>

    </nav>
