

<nav class="navbar navbar-default navbar-fixed-top">
    <div >
        <div class="navbar-header align">
            <p class="navbar-text pull-left" style="margin-left: 5px">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="glyphicon glyphicon-chevron-left inherit" style="text-decoration: none;"></a>
            </p>
            <a class="navbar-brand inherit">Choose Widgets</a>

            <p class="navbar-text pull-right" style="margin-right: 10px">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="glyphicon glyphicon-ok inherit" style="text-decoration: none;"></a>
            </p>
        </div>
    </div>
</nav>

    <div class="container">

        <form>

            <div class="container-fluid">
                <div ng-repeat="widget in model.widgets track by $index" class="list-group">

                    <div ng-model="model.widget.widgetType" ng-switch="widget.widgetType">
                        <div ng-switch-when="HEADER">

                            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">Header</a>
                        </div>
                        <div ng-switch-when="IMAGE">

                            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">Image</a>
                        </div>
                        <div ng-switch-when="YOUTUBE">

                            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">youtube</a>
                        </div>
                        <div ng-switch-when="HTML">

                            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">Html</a>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom navbar-pages">
        <p class="navbar-text pull-right" style="margin-right: 15px">
            <a href="#/user/{{model.userId}}" class="glyphicon glyphicon-user page-list_label_style   glyphicon-pages-user" style="text-decoration: none;"></a>
        </p>

    </nav>
